[2014-08-19 11:48] djtfmartin opened #1 "Weekly blog alerts not working"
_migrated from:_ https://code.google.com/p/ala/issues/detail?id=266
_date:_ Tue Sep 24 22:23:52 2013
_author:_ moyesyside

---

Weekly blog alerts not working. Reported by Lee.

[2014-08-19 11:57] mbohun opened #2 "Alerts for new records for species - a link would help"
_migrated from:_ https://code.google.com/p/ala/issues/detail?id=284
_date:_ Thu Nov  7 21:58:56 2013
_author:_ john.t...@austmus.gov.au

---

WANTED: When a user is alerted of a new record for a species, can we have a link to a list of the **_RELEVANT**_ changes in their alert email

Currently, when a user is notified with an alert for a nominated species, their email gives a link for **_ALL**_ re

[2014-08-19 12:43] djtfmartin opened #3 "Switch from email address to using user ID"
_migrated from:_ https://code.google.com/p/ala/issues/detail?id=548
_date:_ Mon Jan 27 19:26:56 2014
_author:_ moyesyside

---

Need to migrate the BVP and Alerts app away from using emails addresses internally.
This will allow users to update their email addresses through the ALA website.

[2014-08-19 14:31] Tasilee opened #4 "Error updating alerts"
_migrated from:_ https://code.google.com/p/ala/issues/detail?id=756
_date:_ Thu Jul 17 16:09:54 2014
_author:_ leebel...@gmail.com

---

Grails Runtime Exception

Error Details

Error 500: Executing action [myAlerts] of controller [au.org.ala.alerts.NotificationController] caused exception: Runtime error executing action
Servlet: grails
URI: /grails/notification/myAlerts.dispatch
Exception Message

[2014-08-28 23:51] djtfmartin opened #5 "Add Admin filter"
Add admin filter for admin tools on the alerts app.

[2014-09-01 04:35] djtfmartin opened #6 "Delete of custom alerts failing"
Delete of custom alerts failing

[2014-09-11 01:54] Tasilee opened #7 "Alerts management page needs links to alert options"
There appears to be no single page that gives an indication of the TYPE of custom alerts that can be created. This seems a great pity as the options are broad and will provide a powerful service for many sectors.

In the interim, I'd suggest that LINKS should be included on the Alerts management page to areas of the ALA where custom alerts could be built.

As an Biocache query can be used as a bas

[2014-09-12 02:39] djtfmartin opened #8 "Annotation alerts with empty results."
Annotation alerts with empty results. Noticed by Niels and Alison.

[2014-10-01 01:53] sadeghim opened #9 "Alerts exception"
I was checking the page 'Manage your alerts' in my profile:
http://alerts.ala.org.au/notification/myAlerts

It just returns an exception:

![image](https://cloud.githubusercontent.com/assets/1578598/4469216/bf4e68e8-490d-11e4-89b7-8465b72e76e3.png)

[2014-10-09 07:07] #6 closed, assigned to djtfmartin

[2014-10-27 01:45] m-hope opened #10 "Issues with weekly annotation alerts"
Alexis has been receiving weekly annotation and new record alerts for the SA Museum for quite some time, but in the last few months the alert email content has changed and is now confusing:

Firstly, despite the subject line and links in the alerts referring to annotations, the content/text of the emails refers to 'More occurrence records' and 'records that have been added/changed'.

The 'click he

[2014-10-29 00:05] #5 closed, assigned to djtfmartin

[2014-10-29 00:06] #8 closed, assigned to nobody

[2014-10-29 00:07] #9 closed, assigned to nobody

[2014-10-29 00:09] #10 closed, assigned to djtfmartin

[2014-10-29 00:11] #7 closed, assigned to nobody

[2014-10-29 00:12] #4 closed, assigned to djtfmartin

[2014-10-29 00:13] #3 closed, assigned to djtfmartin

[2014-10-29 00:14] #1 closed, assigned to djtfmartin

[2014-10-29 00:15] #2 closed, assigned to djtfmartin

[2015-01-20 23:35] nickdos opened #11 "Issues in Safari (annotations switch)"
Beth Mantle reported she couldn't change the frequency drop down or the Annotations switch in Safari (v 8.0 in Mac OS X 10.10). Refreshing page showed the old values. Using Chrome worked (settings saved). I could not reproduce this issue on my Mac (same versions) but I dod experience a related issue.

When I click on the Annotations switch (widget) nothing happens. I am able to slide it by moving

[2015-03-30 22:31] johntann99 opened #12 "HTML code in alert email is visible"
One of my colleagues Allen Sundholm, complained that the ALA alert email is garbled. All he gets is the   HTML code, not rendered into a web mail. He is using Outlook and has no trouble with any other mail rendering.

This is a copy of the email that he forwarded to me:
[code]

[2015-07-27 23:35] nickdos opened #13 "Add feature to allow users to unsubscribe via email link"
This has been requested before - user no longer visits the ALA and has forgotten their password and just wants to unsubscribe from alerts / blog updates.

We need to provide a link in footer or alert emails, the lets user unsubscribe from all or just that alert.

[2015-08-18 23:14] nickdos opened #14 "Admin interface to inactivate a user's alerts"
We have many orphaned user accounts (dead) that have active alerts that end up bouncing. The admin interface needs a widget to delete all alerts for a given userId.

Also, It would be good to extend this to be able to inactivate a user account (activated=false) and then this app (and others) to check for this flag and remove all alerts for that user. Maybe another admin button.

[2015-08-31 00:30] nickdos commented on #14
users to unsubsubscribe:
ineden@adam.com.au

[2015-08-31 01:30] M-Nicholls opened #15 "Additional information in new data set alerts"
Add information on data resource type - list, records and number of records in the data set

[2016-02-08 22:20] nickdos commented on #13
I think this should be fairly straight forward - generate a hash uuid that is stored in DB along with a command, equivialent to the  user turning off a particular alert type. When user clicks the link, the hash is checked and that command is run for the user (without the user being logged in).

[2016-04-06 03:00] m-r-c opened #16 "Add service to disable all alerts for a user, and invoke when disabling a user account in UserDetails"
From https://github.com/AtlasOfLivingAustralia/userdetails/issues/2

[2016-04-13 05:29] m-r-c commented on #13
I have added two lines to the emails:
[code]

These links will take the user to an Unsubscribe page with the option to disable the specific alert type (first link) or all alerts (second link - all alerts will be listed). The user does not need to log in - a token will be stored against the user (for the unsubscribe all option) and against each individual notification (for the individual unsubscrib

[2016-04-13 05:30] m-r-c opened #17 "Add an admin screen for managing user alerts"
We also need an admin screen to allow USER_ADMIN users to unsubscribe users who send an email request manually.

Split from #13

[2016-04-13 05:31] m-r-c commented on #13
https://upsource.ala.org.au/alerts/review/ALRTS-CR-1

[2016-04-13 05:50] m-r-c commented on #17
I have added a 'Mange alerts for users' option to the admin page, which allows the admin to search for users, and to view the alerts page for them. From there, the admin can enable/disable alerts.

[2016-04-13 05:54] m-r-c opened #18 "Clean up"
- Extract role based authorisation from each method in Admin Service into either a filter (best) or a before interceptor.
- Reformat all code to conform with ALA code format (currently using 2 space indents)
- Write tests

[2016-04-13 23:53] m-r-c commented on #16
https://upsource.ala.org.au/alerts/review/ALRTS-CR-3
https://upsource.ala.org.au/userdetails/review/USERDETAILS-CR-6

[2016-04-14 03:08] m-r-c commented on #14
Provided by #17

[2016-04-14 03:08] #14 closed

[2016-04-14 22:41] #17 closed

[2016-04-15 00:56] #16 closed

[2016-04-15 02:41] #13 closed

[2016-05-05 23:54] nickdos opened #20 "Disable alerts link in email broken"
The emails have a line:

The link: applewebdata://9AA337D3-254F-4DBF-8A5B-D41264F06C88/[:][:]/notification/myAlerts

Doesn't work for me. Not sure if the email client/server is messing with this link or not.

[2016-05-09 00:45] nickdos opened #21 "Getting duplicate alerts"
I have 2 alerts which I am getting the same results for multiple times a day. The list of records in each alert email is the same (and it should be different). See images below

This is 2 issues:
- why are the same records appearing in multiple alerts - it should only be notified once?
- ~~why is an ALA citizen science record appearing in the AVH alerts?~~

I'll fork the second issue off.

![image

[2016-05-09 00:47] nickdos opened #22 "AVH alerts showing records for citizen science dataset"
![image](https://cloud.githubusercontent.com/assets/532845/15101428/5c5789ba-15d3-11e6-8810-0389109f3d76.png)

first link is http://avh.ala.org.au/occurrences/d026e7c9-ca62-4832-be8b-acf15d2afe76

Note this record does not show up in a search of ALA, so the issue appears to be a missing datahub param in alerts URL.

[2016-05-30 01:08] matthewandrews opened #23 "Email unsubscribe text has no links"
The last line of alert emails is currently like this:

_To stop receiving alerts for Blogs and News, click here. To stop receiving all Atlas of Living Australia alerts, click here._

This is plain text with no links (in an HTML email).

Also, for accessibility, it's good to have link text describe the target, not "click here", as screenreaders typically have a mode where users can navigate via a l

[2016-07-18 23:38] nickdos opened #24 "Alerts for annotations count != list"
Lee reported that an alerts email for new annotations on records reported "1 occurrence records have been annotated" but the table shows 18 records in the list.

See screenshot:

![inbox_ _csiro](https://cloud.githubusercontent.com/assets/532845/16933840/76282fa4-4d94-11e6-838f-c384d925efcc.png)

[2016-11-02 01:42] nickdos opened #25 "User email address changes are not reflected in alerts"
A user has changed their email address but their alerts page still shows their old email address as the recipient for thier alerts. I ran the alerts admin page option "Update user emails with CAS" but it reported it changed 0 email addresses and I can still see their alerts page showing the wrong email address.

user: https://auth.ala.org.au/userdetails/admin/user/show/1860
alerts: http://alerts.a

[2016-11-06 22:43] M-Nicholls opened #26 "annotation alerts not triggering"
due to changes in the annotations functionality user_assertions:"true" is not longer in the index

2 things -
modify creation of alerts on annotations to allow for this - new categories:
-unconfirmed (this is the initial assertion, of interest to data set curators)
-verified (checked by owner and record is correct)
-corrected (checked by owner and record has been fixed)
(all of the above?)

modify

[2016-11-11 00:22] nickdos opened #27 "Hub based alerts do not show the hub name"
E.g. if a user creates an alert in avh.ala.org.au, then the alert appears in the user's alerts page and looks the same as alerts created in the ALA hub.

I think we we should detect the `data_hub_uid:dh9` part of the request and then display the appropriate hub name next to the alert (maybe with logo even?).

[2017-02-13 04:28] nickdos commented on #26
The underlying issue is that our search API has changed and thus previous searches with the old API (field or values) not longer work. We could fix this for assertions with a one-off modification of the alerts database but this will likely happen again in the future (and has already happened with other fields as well).

The non-technical fix is to tell people to remove the old alert and then re-ru

[2017-03-04 00:56] matthewandrews commented on #23
The HTML sent in the unsubscribe section is like this:

`To stop receiving alerts for New records, <a href="[:][:]/unsubscribe?token=null">click here</a>.`
`To stop receiving all Atlas of Living Australia alerts, <a href="[:][:]/unsubscribe?token=null">click here</a>.`

Similarly, there is a section earlier in the (new records) mail like this:

`<p>To disable this alert or to manage your alerts, <

[2017-03-06 21:27] matthewandrews commented on #23
The species list alert mail has this text displayed:

[2017-03-06 21:45] matthewandrews opened #28 "Species list alert email shows property name"
The species list alert mail has this text displayed:

[2017-03-07 07:57] matthewandrews opened #29 "error getting new images"
This is appearing in alerts.log in production each hour:

[code]

[2017-03-09 23:29] patkyn commented on #26
Need to update existing query that has been already been setup for annotation triggers for existing annotation to work.

[code]

[2017-06-20 04:57] nickdos opened #30 "Blogs and news emails have broken unsubscribe message."
At the bottom of the email is the text:

But "click here" link is buggered - applewebdata://2D079B1C-2A23-402B-ABEC-0F060C1011A6/[:][:]/unsubscribe?token=null

Issue is probably empty Map bits `[:]` indicating missing or incorrect config vars.

[2017-07-31 04:50] nickdos commented on #30
Raw link is `<a href="[:][:]/unsubscribe?token=3D44164fed-7032-43ea-b199-a405eb475a89">`.

[2017-07-31 05:22] nickdos commented on #30
Fixed in local deployment:

![dev_ala_org_au_8080_alerts_admin_debugalertemail_48_frequency_hourly_and_emailservice_groovy_-_alerts_-____documents_ala-code_alerts_](https://user-images.githubusercontent.com/532845/28763794-f67229a6-7603-11e7-9739-922e88c5f354.png)

mouse is hovering over last "click here" link

[2017-07-31 05:24] nickdos commented on #29
Biocache search is OK - returns 3322 results, so issue is alerts DB or code related.

[2017-07-31 09:41] #28 closed

[2017-07-31 09:47] nickdos commented on #12
This is the blogs and news email, which renders fine in CSIRO and Gmail. Won't fix.

[2017-07-31 09:47] #12 closed

[2017-07-31 23:15] nickdos commented on #25
alerts.ala.org.au IP address was not in authorised systems list in userdetails! Re-ran "Update user emails with CAS" and email addresses are now up to date.

[2017-07-31 23:15] #25 closed

[2017-07-31 23:16] #23 closed

[2017-07-31 23:25] nickdos commented on #11
Had no more reports of this and can't reprduce.

[2017-07-31 23:25] #11 closed

[2017-07-31 23:25] nickdos commented on #20
Duplicate of #23

[2017-07-31 23:25] #20 closed

[2017-08-01 00:10] nickdos commented on #22
Moved to https://github.com/AtlasOfLivingAustralia/biocache-hubs/issues/243

[2017-08-01 00:10] #22 closed

[2017-08-08 00:25] temi opened #31 "Unsubscribing Alerts does not work"
Stop receiving alerts link on email does not work.

[2017-08-21 22:28] matthewandrews opened #32 "Alert emails being sent to locked accounts"
I've recently locked a number of accounts due to 'user not found' bounces, but it appears that alerts emails are still being sent to these addresses.  The accounts are still activated but are locked.

[2017-09-08 08:25] nickdos commented on #32
Dependent on https://github.com/AtlasOfLivingAustralia/userdetails/issues/41

[2017-09-14 00:33] nickdos commented on #31
Same bug as #30

[2017-09-14 00:34] nickdos commented on #26
Just did the follwoing SQL in prod:
[code]

Looks OK so far.

[2017-09-15 00:06] nickdos commented on #26
Annotation alerts are now coming through.

[2017-09-15 00:06] #26 closed

[2017-10-09 01:08] nickdos commented on #30
This is mostly fixed now, but Blog alerts are still showing link with `token=null`

[2017-12-11 23:25] nickdos opened #34 "Rename emails for "Blogs and news" to "ALA Blogs""
In both the subject and body.

Also try and fix the unsubscribe link (has null in it)

[2018-04-26 06:35] nickdos commented on #34
Done

[2018-04-26 06:35] #34 closed

[2018-04-26 06:37] nickdos opened #36 "Alerts for new lists are not being sent"
Reported by @Tasilee - I've not got any for quite a while either but I can see that new lists have been added in the last couple of weeks.

(Nov 2020), no alerts emails (including new lists) were sent in Test environment, use this ticket for code updating.

[2018-04-26 06:41] nickdos commented on #36
Here's the last list update I got:

-------------

From: Atlas alerts <atlas-alerts@ala.org.au>
Date: Sunday, 17 September 2017 at 9:30 pm
Subject: Species lists

Update - Species lists
New species lists have been added.
To view details of the datasets that have been added/changed, click here
To disable this alert or to manage your alerts, click here
Datasets update
Name	Link
wolli	click to detail

[2018-08-13 01:26] matthewandrews commented on #31
Closed as duplicate of #30

[2018-08-13 01:26] #31 closed

[2018-09-07 02:09] nickdos commented on #32
Another commit for this issue be5a69b.

Test and close if deemed fixed.

[2018-09-07 02:11] nickdos opened #38 "Modify database to fix alerts with the wrong baseUrlForUI value"
See related issue https://github.com/AtlasOfLivingAustralia/bie-plugin/issues/118

This task is to manually update tables to change any alerts messages for "new records" that have `baseUrlForUI` containing `bie.ala.org.au` to `biocache.ala.org.au`.

Should be straight forward SQL command.

[2018-09-10 23:34] nickdos commented on #30
Update: my emails now have a complete URL for the `To stop receiving all Atlas of Living Australia alerts, click here.` line but the previous line: `To stop receiving alerts for ALA Blog, click here.` still contains a broken URL, which is `https://alerts.ala.org.au/unsubscribe?token=null`.

I've tracked the issue down to this SQL statement: https://github.com/AtlasOfLivingAustralia/alerts/blob/ada

[2018-09-13 07:07] nickdos commented on #30
The above commit may have fixed things, so monitoring for any bounce emails.

[2018-09-13 07:10] nickdos opened #39 "Alerts for biocache searches with long queries fail."
See https://support.ehelp.edu.au/helpdesk/tickets/23079

User was trying to get an alert for a species list (295 taxa) via the records link on the list page. See https://lists.ala.org.au/speciesListItem/list/dr8953. The records alerts resulted in an error "Request URI too long". Shortening the list to 50 taxa (https://lists.ala.org.au/speciesListItem/list/dr8954) seemed to work, as the alerts butt

[2018-09-19 22:31] ansell commented on #39
Creating a QID and using it for the query is possibly a workaround (and is basically free in terms of storage, so you don't have to worry if you need to create a new one when they add a new species)

[2018-09-20 04:13] matthewandrews commented on #32
Based on the (lack of) bounces from alerts emails sent to undeliverable addresses in the last few weeks, this looks like it's working.

[2018-09-23 22:35] ansell commented on #30
The email in ticket 23495 with a date of yesterday (Sunday 23 September) still has ``token=null`` for the full unsubscribe option.

[2018-09-27 11:09] matthewandrews commented on #32
Just got a pile of bounces - looks like these are still being sent to locked accounts after all. Possibly only for specific taxon search alerts (as opposed to the general 'new records', 'blog', etc).

[2018-09-28 03:36] nickdos commented on #32
Thanks @matthewandrews (not really ;-) Could you paste some example emails that bounced so I can dig a bit deeper? Thanks

[2018-09-28 04:44] matthewandrews commented on #32
Sure - a sample of alert query emails sent yesterday to locked accounts:

New records for Species: Sus scrofa  (sent Thu, 27 Sep 2018 17:15:24 +1000 to userid 83)
New records for Species: Leipoa ocellata (sent Thu, 27 Sep 2018 17:15:29 +1000 to userid 83)
New records for Species: Limax maximus (sent Thu, 27 Sep 2018 17:15:31 +1000 to userid 4037)
New records (sent Thu, 27 Sep 2018 17:15:01 +1000 t

[2018-09-28 04:44] nickdos commented on #30
[code]

so need the same fix I did for the notification table (sigh).

[2018-09-28 04:48] ansell commented on #30
That would be the second part of this branch in the code:

https://github.com/AtlasOfLivingAustralia/alerts/blob/ada516ceedc46f19e4dd30fd0b01eee7a27f1b8c/grails-app/controllers/au/org/ala/alerts/UnsubscribeController.groovy#L58-L63

[2018-09-28 04:58] nickdos commented on #30
I just created a new account and it got an `unsubscribe_token` set, so no longer a problem. Just need to fix 2047 broken accounts.

[2018-09-28 06:03] nickdos commented on #32
Deployed again, lets see how it goes this time.

[2018-09-28 06:04] nickdos commented on #30
Deployed and ran admin function - 2047 users fixed

![notification_service___atlas_of_living_australia](https://user-images.githubusercontent.com/532845/46190759-3041be80-c338-11e8-9930-ea210882437a.png)

[2018-09-28 06:28] nickdos commented on #38
First, I fixed the http:// base_url values with `update query set base_url = REPLACE(base_url, 'http:', 'https:') WHERE base_url like 'http:%ala%';`.

[2018-10-03 03:12] ansell opened #40 "Alerts may be sending out unrelated records in notification emails"
Report from a user that alerts is sending unrelated records in notification emails.

Refs ticket 23821 in helpdesk

[2018-10-04 05:29] matthewandrews opened #41 "Avoid "click here" links in emails"
Currently alert emails contain multiple links with link text "click here".  Good accessibility practice is to avoid links with that kind of text. For instance, a screenreader for a visually impaired user might be used to read the links on a page/email, which could result in audio output being something like: "Link: click here.  Link: click here. Link: click here".

Generally [good practice](https:

[2018-10-07 23:18] nickdos commented on #38
This is done BUT the code is not fixed, so will need to be repeated after the code fix has been deployed, to catch any subsequent alerts created since I ran the SQL above.

[2018-10-07 23:19] nickdos commented on #30
Fixed

[2018-10-07 23:19] #30 closed

[2018-10-26 04:38] nickdos commented on #38
Deployed new version of `ala-bie` with fix for the `base_url_forui` containing `https://bie.ala.org.au` and re-ran the `update` command which fixed 6 more entries. Closing.

[2018-10-26 04:38] #38 closed

[2018-10-29 00:06] nickdos commented on #32
Hi @matthewandrews any bounces for the latest blogs email? If not can you close this pls?

[2018-10-29 00:18] nickdos opened #42 "Improve wording for unsubscribe links"
A few issues need fixing/improving:
- Blogs email have 2 unsubscribe messages (duplicated info), so the one inside the grey box should be removed
- wording for unsubscribe is not "industry standard", in that it refers to "alerts" which is not clear to the user what that means (its an internal reference to this project). Reword to be consistnent with most other systems. E.g.

- [x] Add a link direc

[2018-10-29 01:06] matthewandrews commented on #32
Looks good - no bounces from locked accounts (there were plenty of bounces, but they appear to be all from unlocked accounts - I've now locked the accounts that had hard bounces).

[2018-11-07 23:53] nickdos commented on #40
Cause is missing SOLR field in queries being sent to alerts system.

E.g. alerts is using

https://biocache.ala.org.au/ws/occurrences/search?q=http://id.biodiversity.org.au/node/apni/2898914&sort=first_loaded_date&dir=desc&pageSize=20&facets=basis_of_record

but should have `q=lsid:{rest_of_query}` -
https://biocache.ala.org.au/ws/occurrences/search?q=lsid:http://id.biodiversity.org.au/node/apni/2

[2018-11-08 02:46] nickdos commented on #40
`ala-bie` bugs have been fixed (not deployed yet) but historical alerts are still broken and thus requires some SQL magic to fix them.

[2018-11-08 03:31] ansell commented on #40
That is a negative scope though, which doesn't really restrict the number of positive ``?q=`` matches in terms of ``http``/``urn``/anything else. Not having looked at the list of course, just familiar with the number of ways that bie/biocache URLs are oddly constructed. If it works locally, likely to work in production right? YOLO!

[2018-11-08 03:43] nickdos commented on #40
I did a broad `SELECT` based on the `WHERE name like 'New records for Species%' ` and checked the counts for the final SQL `update` so it wasn't broader than I was expecting. Should be OK and at least a lot better than the 237 and 388 queries that were completely busted.

[2018-11-08 03:44] nickdos commented on #40
Closing - re-open if still an issue on prod.

[2018-11-08 03:44] #40 closed

[2018-12-24 00:32] matthewandrews commented on #32
Hmm, a blog alert today has been sent to some locked accounts.  Example: [https://alerts.ala.org.au/admin/user/7473](https://alerts.ala.org.au/admin/user/7473) (locked in userdetails; blog alerts turned on in alerts; alert email for blog was sent today).

[2019-01-03 01:55] nickdos commented on #32
Update. I fixed the logging as well as the broken `UpdateEmailsJob` cron job and deployed changes. Re-running the `Update user emails with CAS` showed 24 addresses were updated (as opposed to 0 when run yesterday). Looking at the code the call to `AuthService.getUserId()` appears to be cached indefinitely, which would explain the accounts not being updated. It should be under EhCache but the Grail

[2019-01-07 04:13] nickdos commented on #32
Version 1.5.0 deployed to prod. Will keep an eye on bounce emails before closing issue.

[2019-01-15 12:51] reupost opened #43 "No trigger could be found for ala.postie.HourlyQueriesJob"
We're using v. 1.4-SNAPSHOT. After manually triggering the hourly alerts job to run for testing purposes, it now won't allow this type of job to be scheduled. If you click on the 'Start job schedule' you get an error 'No trigger could be found for ala.postie.HourlyQueriesJob'. Does anyone have any ideas on resolving this? Thanks.

[2019-01-28 22:07] ansell opened #44 "Deleting user account in auth should delete the account in alerts"
I deleted my test account a while ago in `auth.ala.org.au` and recreated it. However, both the old and new ids still exist in `alerts.ala.org.au`.

Past (should have been deleted):

`https://alerts.ala.org.au/admin/user/28185`

Current:

`https://alerts.ala.org.au/admin/user/59296`

There may be an issue with a link between `auth.ala.org.au` and `alerts.ala.org.au` where deletions are not propagat

[2019-01-28 23:54] nickdos commented on #44
Alerts should be checking regularly for users which have been marked as locked = true and sets its own local copy to locked. If it has a user account that does not have a corresponding account in AUTH, it also sets the local account to locked.

There is an issue with the library Alerts is using to check accounts in AUTH, where it caches the responses from AUTH indefinitely. I tried to fix that in

[2019-01-28 23:58] ansell commented on #44
Is it possible to see if an account is currently `locked` using the alerts admin interface? E.g., is there something I am missing on `https://alerts.ala.org.au/admin/user/28185` that shows whether it is locked?

[2019-01-29 00:00] nickdos commented on #44
No - its not in admin interface - you need to use MySQL...

I just ran the "update user emails..." link and it reported "Updated 0 email addresses in system", so its been running OK in terms of syncing with AUTH.

[2019-01-29 00:03] ansell commented on #44
Ok, will close this as not an issue and open a feature request for showing whether accounts are locked in the admin interface

[2019-01-29 00:06] ansell opened #45 "Expose the locked attribute in the admin interface"
The `locked` attribute is not currently exposed in the admin interface. Exposing it could help support desk personnel rule out possible causes of issues like #32 and identify when accounts that were deleted on `auth.ala.org.au` have been successfully `locked` on `alerts.ala.org.au` such as #44

[2019-01-30 04:36] nickdos opened #46 "Email showing records that don't match criteria (Biocache generated)"
User support ticket https://support.ehelp.edu.au/a/tickets/28671

I've replicated the problem in prod biocache starting from this search:

https://biocache.ala.org.au/occurrences/search?q=data_resource_uid%3A%22dr376%22&fq=institution_name%3A%22Department%20of%20Environment%2C%20Water%20and%20Natural%20Resources%22

click alert and "get email alerts for new records" option. The following `query` r

[2019-01-30 04:53] nickdos commented on #46
Fixed user's alert manually:

[code]

Need to investigate further whether biocache is sending wrong `query` or if alerts is stripping any `fq` params out.

[2019-02-01 00:38] #46 closed

[2019-04-09 04:16] nickdos opened #48 "Create alert links fail the first time"
I've seen this from `collectory` and `regions` pages that create biocache alerts. Clicking in the "Create alert" link the first time results in an error page (400) but hitting the back button, reloading the calling page and clicking the link a second time, works.

![image](https://user-images.githubusercontent.com/532845/55773078-6ecbe900-5ad2-11e9-989d-38c2c0df5a15.png)

https://alerts.ala.org.au

[2019-04-09 04:50] nickdos commented on #48
https://alerts.ala.org.au/webservice/createBiocacheNewRecordsAlert?webserviceQuery=/occurrences/search?q=data_resource_uid:dr342&uiQuery=/occurrences/search?q=data_resource_uid:dr342&queryDisplayName=Museums%20Victoria%20provider%20for%20OZCAM&baseUrlForWS=https://biocache.ala.org.au/ws&baseUrlForUI=https://biocache.ala.org.au&resourceName=Atlas gets truncated https://alerts.ala.org.au/webservice/

[2019-04-10 01:15] nickdos commented on #48
The commit above did fix the issue. I also checked the `query` table in the alerts DB to confirm the values being saved from the encoded params were correctly unencoded when saved.

[2019-06-03 06:37] nickdos commented on #32
@matthewandrews have you seen any more bounded emails? The last change to this issue was Jan 7, so can I close this issue?

[2019-06-04 05:53] nickdos opened #49 "Allow HTML entities in Blog emails"
Quite a few Blog emails have shown escaped HTML entities in their titles:

![image](https://user-images.githubusercontent.com/532845/58854434-b5a81a80-86e0-11e9-87b5-c11695661a71.png)

In this case a `&#8211;` which looks like a emdash or similar.

Fix is to output this text with the `${raw(variable)}` syntax.

[2019-06-19 05:02] #32 closed

[2019-06-28 01:43] nickdos opened #50 "Old alerts still using HTTP URLs"
Reported by Margaret C https://support.ehelp.edu.au/a/tickets/35011.

[code]

Fix is to have only HTTPS URLs in the `query` table.

[2019-06-28 01:47] nickdos commented on #50
[code]

[2019-06-28 01:52] nickdos commented on #50
Fixed `base_url` with `UPDATE`:

[code]

[2019-06-28 01:57] #50 closed

[2019-07-29 01:57] nickdos commented on #44
This is still an issue - code is not setting `locked = true` for users that are no longer in userDetails DB (regression bug?).

[2019-07-29 02:10] nickdos commented on #44
No - issue was a user changed their email address, so will open new issue for that.

[2019-07-29 02:10] #44 closed

[2019-07-29 02:15] nickdos opened #51 "User account with a changed email address is not being updated in alerts"
See #25 and #44.

Seems to be a regression bug as this was fixed with code but now not working as expected.

Admin function was run `Update user emails with CAS` and it reported `Updated 0 email addresses in system`. However one of the users had changed their email address and I checked it before and after via SQL:

[code]

I eventually had to manually update the address via SQL:

[code]

[2020-05-26 21:20] vjrj opened #57 "Normalization of alerts ws calls and bioacache service configuration"
After PR https://github.com/AtlasOfLivingAustralia/alerts/pull/52 we have to normalize the way the alerts `/ws/` is called and how biocache and biocache-service is configured.

For instance:
- regions: [ws call code](https://github.com/AtlasOfLivingAustralia/regions/blob/master/grails-app/services/au/org/ala/regions/MetadataService.groovy#L224), it uses biocache and biocache service urls (I have m

[2020-10-12 04:10] m-hope opened #58 "Biosecurity Project - Allow configurable Alert emails"
**Background:** As part of the Biosecurity project, we will be using the ALA Alert functionality to notify DAWE of new potential pest records.  There is potential future expansion of this service to state based biosecurity groups. At the moment, the alert emails are designed for the general public.  It would be good if we could explore the potential to allow configurable (or templated) emails (eg:

[2020-10-12 04:17] m-hope opened #59 "Biosecurity project - allow the option for an alert email to be sent even if no records trigger the alert"
Background: As per issue #58, the Biosecurity project is using the ALA Alert functionality to send notifications to DAWE of any potential new pest records appearing in the ALA.  As far as I am aware, the alert function will not send an alert email if no records appear in the alert query, however in this case, it would be beneficial to let DAWE know that the query has been checked even if no record

[2020-10-21 03:12] nickdos commented on #59
This will be a "medium" size task, as the current alerts architecture involved doing a `diff` against content stored for a given `query` with what it found the previous time it ran. When it finds a difference in the output, that triggers the email.

So for this to be changed, we'd need to add an extra flag to the data model for a query and then catch that when the diff returns `null` so we can sti

[2020-10-21 03:18] nickdos opened #60 "Improve branding for alert emails"
The current email template makes no mention of it coming from the ALA, apart from the email address. See

![image](https://user-images.githubusercontent.com/532845/96668973-0c7ec480-13a8-11eb-9efe-574b6fde1ae7.png)

- [ ] Include the current ALA logo with it being a link to out website
- [x] Include a heading that has "Atlas of Living Australia" text in it

[2020-10-21 03:26] nickdos commented on #58
#60, #41 & #42 are all small sized tasks.

The last task (option to customise the email output) is a medium-sized task (could be large even). What makes it harder is the  fact that we'll need to add logic to the email template (there is none ATM), we'll need to add a UI to allow the user to set the option (doesn't exist and not sure where we'd put it, as well as allow someone to change it for exis

[2020-10-21 03:38] m-hope commented on #59
Thanks Nick, given the complexity for is a low priority task, I think we park this for the time being.

[2020-10-21 03:48] m-hope commented on #58
Thanks Nick.  At this stage, there is no requirement for user configurable alert emails.  Your suggestion of just a different (pre-canned) template for biosecurity alerts would be satisfactory.
The biosecurity alerts would be generated from Biocache, as we would be interested in any new records for species listed in a particular ALA List (eg: for this query: https://biocache.ala.org.au/occurrences

[2020-10-21 04:29] nickdos commented on #58
We'd still need some way of differentiating alerts for biosecurity versus general alerts for new records. Its still unclear how this would happen.

[2020-10-22 22:19] nickdos commented on #57
Thanks @vjrj - I'll have a look over this old code and get back to you. I agree in principle they should all work the same way but will need to check to see if there might be any reasons they are different.

[2020-10-23 00:37] nickdos opened #62 "Region page alerts bug"
See https://alerts.ala.org.au/query/show/1151

`Base Url For UI   |    https://biocache.ala.org.au&resourceName=Atlas`

Should be `https://biocache.ala.org.au`.

[2020-10-23 09:32] vjrj commented on #57
Other option is revert this PR, and make all LA portals except ALA to redirect calls like:

`https://biocache-ws.some-la.site/ws/` to `https://biocache-ws.some-la.site/`

[2020-10-27 03:23] nickdos opened #64 "Build broken due to failed unit tests"
Seeing:

[2020-10-27 03:24] nickdos commented on #64
Config change in #63 reverted

[2020-10-29 01:56] nickdos opened #65 "Searches with long display titles silently fail"
E.g. `qid` searches with very long titles seem to fail silently - no error but alerts page does not show the alert after trying to create it.

E.g. https://biocache.ala.org.au/occurrences/search?q=qid:1603931265406

which has title:

`(raw_name:"Acarapis" OR raw_name:"Anentome" OR raw_name:"Astacus leptodactylus" OR raw_name:"Atelerix albiventris" OR raw_name:"Aulacaspis yasumatsui" OR raw_name:"B

[2020-10-29 23:15] m-hope commented on #65
As a workaround for this, I had to break the queries up into individual chunks to get under a limit of what seemed to be around 250 characters for the entire URL (ie: including the https://biocache... etc).

As an aside, I found an issue in setting an alert when no records are found for a query. I've documented this in a separate issue ()

[2020-10-29 23:30] m-hope opened #66 "Ability to set query based alert when no records found"
When sorting out a workaround for issue #65, I found that if you are trying to set a query based alert where the query currently does not return any records, you don't get the "alert" button to set the query.  I don't know if there is an alternative way to do this, but it would be good to either still have the alert button on the "no records found" page, or let the user know what the alternate mec

[2020-10-29 23:38] m-hope commented on #59
Just as a side note:  it occurred to me that there have been quite a few instances in the past where the only indication the alert system is not working  is because the collection community managers have noticed that "they haven't seen an annotation alert for a couple of months"... I suspect they would be interested in this feature as well.

[2020-11-12 01:59] nickdos opened #67 "Built-in test service to allow email alerts to be triggered manually"
This still just a vague idea so implementation details may need to be refined or completely changed.

Idea is that when someone deploys this application to a test environment (or runs it locally), that a test-specific alert is created that points to a URL that is hosted within the alerts app itself. The controls for how this self-hosted service is modified, is to be configured via the `/admin` int

[2020-11-17 04:14] Rita-C opened #68 "Wrapper for DQ issue - Notify a user when a record they have annotated has the annotation updated"
https://github.com/AtlasOfLivingAustralia/DataQuality/issues/182

[2020-11-18 10:59] vjrj opened #71 "Alerts deletion from the admin section does not work"
The first reason is because the method `DELETE` is not allowed:
[code]

But still after fix this, there are some sql foreign key issue:
[code]

So some delete cascade should be done also.

[2020-11-20 00:13] Rita-C commented on #57
Hi @vjrj ,
I created four alerts on my local from above apps, as

1. Regions,  alert when new records are added
2. Bie Receive alert when new records are added
3. Biocache get email alerts for new records
4. Biocache get email alerts for new annotations

All have generated correct `urlString` starts as ` https://biocache.ala.org.au/ws/occurrences/search?q=lsid` in the Query.

[2020-11-23 03:07] Rita-C commented on #66
Hi @m-hope,
The alert buttons are generated in `biocache-hub`, I'm moving this ticket to `biocache-hub`.

[2020-11-23 03:07] #66 closed

[2020-11-23 03:07] Rita-C commented on #66
Issue moved to [AtlasOfLivingAustralia/biocache-hubs #386](https://github.com/AtlasOfLivingAustralia/biocache-hubs/issues/386) via [**ZenHub**](https://www.zenhub.com/)

[2020-11-23 03:18] m-hope commented on #66
Thanks @Rita-C

[2020-11-23 05:26] Rita-C commented on #58
**Biocache** generates `alerts for new record` and `alerts for new annotation`. We could append a new param to the **Biocache** url to flag a biosecurity alert is required. **Alerts** then stores the value and selects a different template for sending email:
- [ ] update Biocache, add new param
- [ ] update Alerts, store new param value, select template based on the existence of the value
- [ ] cre

[2020-11-23 05:37] Rita-C commented on #59
We will also require a change to the UI (e.g. `https://alerts-test.ala.org.au/notification/myAlerts`), allowing user to indicate if receiving email for no record check, should this option only apply to new record or all alerts?

[2020-11-23 05:49] nickdos commented on #59
I think we can skip that for now - we only want a MVP so only needs to work like this for the biosecurity alerts, so all other alerts should not be affected.

[2020-11-23 18:01] vjrj commented on #57
I'm not sure we are testing or using the same code. Let me try to describe a bit each module variables and calls.

About **alerts module**, `ala-install` alerts role has:
[code]
But in [`application.yml`](https://github.com/AtlasOfLivingAustralia/alerts/blob/master/grails-app/conf/application.yml#L128)
[code]

In ALA inventories, only `biocache_url` is configured:
[code]

Would be nice that the de

[2020-11-23 21:39] nickdos commented on #57
It appears the values in prod do not match the ansible vars...

![image](https://user-images.githubusercontent.com/532845/100018438-951dd400-2e30-11eb-9944-66433d6deef5.png)

[2020-11-24 03:12] Rita-C commented on #57
Hi @vjrj , thanks for the clarification, it makes the scope much clearer now.
The variable names for `biocache` or `biocache-service` are very similar/confusing, I'll update the values to be consistent.

It seems the following urls return the same results:
`https://biocache-ws-test.ala.org.au/ws/occurrences/search?q=lsid:https://id.biodiversity.org.au/node/ausmoss/10102504&first_loaded_date%3A[202

[2020-11-24 04:34] nickdos commented on #57
https://biocache-test.ala.org.au/ws is an alias for https://biocache-ws-test.ala.org.au/ws so they are the same service.

[2020-11-24 05:12] Rita-C commented on #57
Hi @vjrj ,
Both `bie-plugin` and `biocache-hub` provide `ws/occurrences` as part of `webserviceQuery` as quoted in my above comment, hence `baseUrlForWS` does not require `ws` suffix.
[code]

`webserviceQuery` is equivalent to `queryPath` in `BootStrap.groovy`, whose `ws` was removed in your change,
[code]
Doesn't the change make the approaches inconsistent? I may have missed something here?

[2020-11-24 06:06] m-hope commented on #59
Agreed.

[2020-11-24 12:49] vjrj commented on #57
Thanks @Rita-C now I see the also the whole picture better also (I forget the hardcoded `/ws` calls).

To summarize a bit more, read this issue that explain how -minimally- affects to ALA this hardcoded `/ws` part in:
https://github.com/AtlasOfLivingAustralia/bie-plugin/issues/127

For us, the rest of LA portals that don't use biocache with `/ws` affects more. See this 404:
https://registros-ws.gb

[2020-11-26 01:08] Rita-C commented on #57
Thanks @vjrj ,
We updated `ala-install` and `ALA inventories` to be consistent with your PR changes, also updated `biocache-hubs` and `bie-pluing`:
https://github.com/AtlasOfLivingAustralia/bie-plugin/issues/127
https://github.com/AtlasOfLivingAustralia/biocache-hubs/issues/387

To test:

1. Standard alerts, i.e. Annotation, new records, new images, Citizen science records with images
2. User crea

[2020-11-26 06:56] ansell commented on #62
I QA'd this on `regions-test.ala.org.au` creating the following alert `https://alerts-test.ala.org.au/query/show/10`

[2020-11-26 10:21] vjrj commented on #57
Thanks indeed @Rita-C the code looks good to me. I'll test in our side ASAP.

[2020-11-29 23:16] Rita-C commented on #65
Code updated as discussed, @nickdos could you review the changes please?

[2020-11-29 23:34] Rita-C commented on #36
https://upsource.ala.org.au/alerts/review/ALRTS-CR-1

[2020-11-30 03:04] nickdos commented on #65
Code checked ✅

[2020-11-30 05:10] Rita-C opened #73 "Incorrect querypath for annotation alerts"
Notify me when annotations are made on any record,
Query path `/occurrences/search?fq=user_assertions:*&q=last_assertion_date:[___DATEPARAM___%20TO%20*]&sort=last_assertion_date&dir=desc&pageSize=20&facets=basis_of_record` does not trigger an alert when annotation made against record.

[2020-11-30 05:49] Rita-C commented on #51
Hi @nickdos ,
I updated my email address locally, run admin `Update user emails with CAS` function, email updated. This seems to be fixed.

[2020-11-30 05:52] nickdos commented on #51
probably worth testing on test site - I'll give it a go.

[2020-12-01 00:09] Rita-C commented on #39
biocache-hub generates URL to create the alert, the `queryDisplayName` is too long in this case:
[JS code](https://github.com/AtlasOfLivingAustralia/biocache-hubs/blob/68d60a3b80d1c55f0c5a90727445af63be5339af/grails-app/assets/javascripts/search.js#L490)
suggest to truncate `queryDisplayName` in biocache-hub.

[2020-12-01 04:15] Rita-C commented on #59
Hi @m-hope, do the mangers expect annotation alerts from a specific collectory? There's some investigation going on at the moment about collectory permissions/roles. Tim who subscribed to the alert annotation for all datasets received alert emails recently.

[2020-12-01 06:03] Rita-C commented on #48
✅ Tested creating "Alert me about new records" and "Alert me about annotations" for [Australian Museum Arachnology Collection](https://collections.ala.org.au/public/show/co116)

✅ Tested creating Alerts for [ACT](https://regions.ala.org.au/States%20and%20territories/AUSTRALIAN%2520CAPITAL%2520TERRITORY#group=ALL_SPECIES&subgroup=&guid=&from=1850&to=2020&tab=speciesTab&fq=)

[2020-12-01 06:04] #48 closed

[2020-12-02 09:35] vjrj commented on #57
I found time to test `bie-plugin`, and it works for us. Thanks indeed. I have to test `biocache-hubs`.

[2020-12-04 05:00] #39 closed

[2020-12-04 05:00] Rita-C commented on #39
Issue moved to [AtlasOfLivingAustralia/biocache-hubs #394](https://github.com/AtlasOfLivingAustralia/biocache-hubs/issues/394) via [**ZenHub**](https://www.zenhub.com/)

[2020-12-08 23:47] Rita-C commented on #51
@nickdos , how did you go with testing on Test?

[2020-12-09 00:59] nickdos commented on #51
Works - changed my test email and it was reflected in alerts-test.

[2020-12-09 22:28] Rita-C commented on #71
Steps to test the issue: @vjrj please add anything that I missed

1. Create an alert from Biocache -> the alert displayed in your alert list page `https://alerts-test.ala.org.au/notification/myAlerts`
2. Go to alert admin, locate the alert on alert type page, open the alert -> the `Delete` button is not visible
3. Wait for scheduled job to complete -> check there are entries in `query_result`, `pr

[2020-12-10 06:04] Rita-C opened #75 "Delete orphaned queries from admin section does not work"

[2020-12-10 06:05] Rita-C commented on #75
Similar to #71

[2020-12-14 20:39] vjrj commented on #57
I've tested upstream alerts, bie, ala-hub and regions and all works for me. Thanks indeed!

[2020-12-14 22:21] Rita-C commented on #71
Moving this to "CAB Ready" as @vjrj has reviewed and tested the changes.

[2020-12-14 22:59] Rita-C commented on #75
Checked in code change as discussed in PR https://github.com/AtlasOfLivingAustralia/alerts/pull/74

[2020-12-14 23:16] Rita-C commented on #57
Thank you @vjrj .
Moving ticket to cab ready.

[2020-12-15 00:36] Rita-C opened #76 "Preloaded "citizen science records" query not created in new environment"
One non nullable value is not provided causing the creation of the Query fails silently.

[2020-12-16 03:43] Rita-C opened #77 "Test cases simulating alerts process"

[2021-01-19 04:37] Rita-C opened #78 "Missing “New occurrence datasets” standard alert type"
“New occurrence datasets”  is not checked at application start time. Add it back to BootStrap

[2021-01-19 23:29] Rita-C commented on #78
Hi @vjrj ,
ALA Alerts prod has a Query “New occurrence datasets” which is not in `BootStrap.grrovy`. Does it exist in your instance? I’m adding it to `BootStrap.grrovy` wanted to know if I need to include a flag, e.g.
[code]

[2021-01-20 04:15] alexhuang091 opened #80 "make 'my annotation' feature configurable in alerts"
now 'my annotation' alert feature is merged into develop branch and it's always enabled once new code is deployed.

We need a way to make this feature configurable so we can turn it on or off.

Just wrap any code and url mapping related with a flag will be enough.

Also ansibile script need changes to read the configuration

- This is the code change for alerts: https://github.com/AtlasOfLivingAus

[2021-01-21 22:17] vjrj commented on #78
This query exists and works in our prod instance by default. Do you want to make it conditional?

[2021-01-21 22:28] Rita-C opened #81 "Unsubscribe throws error if user already unsubscribed"
Unsubscribe throws error `400` if the user tries to unsubscribe the same alert, e.g. click the same unsubscribe url the second time from alert email.
System should display a more meaningful message,

[2021-01-21 22:30] Rita-C commented on #78
It sounds like no need to make it conditional, thanks @vjrj

[2021-01-21 22:32] vjrj commented on #78
Ok, I see, maybe is a problem of the locale not correctly set or read. This line should be the problem:
https://github.com/AtlasOfLivingAustralia/alerts/blob/9f790789d22e05885ac3baab642f0f4252cdd319/grails-app/init/au/org/ala/alerts/BootStrap.groovy#L177
in our side we have all the queries in "Spanish". So it finds this translated title in the default queries. For some reason is not find your Engl

[2021-01-21 22:33] vjrj commented on #78
In new deployments there are a default config variable `siteDefaultLanguage=en` can you verify this?

[2021-01-21 22:35] vjrj commented on #78
Verify this setting: https://github.com/AtlasOfLivingAustralia/ala-install/blob/9472158968574fdf06c4c5e3d57f34b6415ac972/ansible/roles/alerts/templates/alerts-config.properties#L65

[2021-01-21 22:38] Rita-C commented on #78
This is actually another dataset alert I'm adding - "new occurrence dataset"
<img width="396" alt="Screen Shot 2021-01-22 at 9 36 01 am" src="https://user-images.githubusercontent.com/29115246/105420992-73589600-5c95-11eb-81b6-6db76d0f3257.png">

[2021-01-21 22:56] Rita-C commented on #78
What I found was this "new occurrence datasets" was not in the` BootStrap.groovy`. I'll check in the change and get you to take a look.

[2021-01-22 01:10] Rita-C commented on #78
Hi @vjrj , code checked in as in above commit. Could you provide me i18n text for `messages_es.properties` please?

[2021-01-22 01:24] Rita-C opened #82 "Flag to switch sending email to the end user on or off"
Currently alert emails always get sent out to the end user. Adding the switch so that we can test changes without sending out "spam" emails.

[2021-01-22 07:10] vjrj commented on #78
Hi again @Rita-C your new query LGTM . From our side, I think that is perfect to add this query by default in `Bootstrap.groovy` without a flag.

I added conditional statements only in some cases for portals without species lists, spatial or wp blog, ... but in this case, all LA portals have a collectory so it's safe to add it by default.

[2021-01-24 04:19] Rita-C commented on #78
Thanks @vjrj

[2021-01-25 03:00] Rita-C commented on #29
`PropertyPath#10` belongs to https://alerts.ala.org.au/query/show/5
[code]

An alternative solution is to add the missing row:
[code]

[2021-01-25 03:44] Rita-C commented on #29
Checked prod db, seemed deletion was done:
[code]

There was no error in log anymore.
@nickdos , can we close this issue?

[2021-01-26 22:44] nickdos commented on #82
Code reviewed ✅

Is this deployed to test yet?

[2021-01-26 22:57] nickdos commented on #29
closing

[2021-01-26 22:57] #29 closed

[2021-01-26 23:17] Rita-C commented on #82
not on test yet

[2021-01-27 00:38] Rita-C commented on #82
deployed to test now

[2021-01-27 23:08] nickdos commented on #36
Code reviewed ✅

[2021-01-28 04:33] alexhuang091 commented on #73
Hi Rita, I did a test on change.

biocacheService.baseURL: "`https://biocache-ws-test.ala.org.au/ws`"
biocache.baseURL: "`https://biocache-test.ala.org.au`"

- the 1st time I ran it (via `admin/runChecksNow?frequency=weekly`) , there's no diff.
- the 2nd time, the returned json has 44 records. But you see records.size == 20 but totalRecords = 44
<img width="1372" alt="截屏2021-01-28 下午3 17 26" src="

[2021-01-28 05:00] Rita-C commented on #73
Thanks for testing @alexhuang091
- Just checked my received email, only newly added records were included.
[code]
- Maybe there are 20 new annotations? Try hours?

[2021-01-28 06:18] alexhuang091 commented on #73
Hi Rita,

I did another round of test. This time the record number seems correct, but there's another issue.

1. clear database, launch the program, do a check via `admin/runChecksNow?frequency=hourly`, returned json has 1 record. no change.
2. run check again, change detected.
3. run check again without adding new annotaion, change detected.
4. keep checking chage without adding new annotation, c

[2021-02-02 00:59] alexhuang091 opened #87 "2 'my annotations' checkbox appear in myAlerts"
This could happen when 2 or more users subscribe to 'my annotations'.

The buggy code checks database for all the queries and thus all 'my annotations' are returned. Actually only the 'my annotation' that belongs to the current user should be returned.

![Screen Shot 2021-02-02 at 10 59 47 am](https://user-images.githubusercontent.com/61677987/106537092-c102b780-654d-11eb-9562-15e662b83734.png)

[2021-02-03 00:46] #87 closed

[2021-02-04 01:01] nickdos commented on #58
Moving back into To Do, as project objectives have been met for now.

[2021-02-04 01:04] alexhuang091 opened #89 "2 'my annotations' switch appears in myAlerts page on alert-test"
![Screen Shot 2021-02-02 at 10 59 47 am](https://user-images.githubusercontent.com/61677987/106829983-45d20a80-66e1-11eb-9053-f27d1e9b999c.png)

[2021-02-04 01:05] alexhuang091 commented on #89
It's fixed in https://github.com/AtlasOfLivingAustralia/alerts/pull/88

[2021-02-04 22:20] alexhuang091 opened #90 "make the default UI style same as the style on production alerts server"

[2021-02-08 23:46] #90 closed

[2021-02-08 23:50] Rita-C opened #92 "An admin tool that disables all emails except a specific small list of users"
or implement as a config based switchable function.

[2021-02-12 05:04] Rita-C opened #93 "1.5.1 release"
Steps:

1. backup prod database and war file
2. stop tomcat
3. update database
4. start tomcat
5. run ansible to deploy new version
6. fix issues reported in log ([Manually fix prod issues](https://confluence.csiro.au/display/ALASD/Alerts+1.5.1+release+plan))

[2021-02-18 01:31] nickdos opened #96 "Add on/off toggle to custom alert entries"
Based on [feedback from a user](https://support.ehelp.edu.au/a/tickets/98084#ember1021) and [Slack discussion](https://atlaslivingaustralia.slack.com/archives/CLH4EM73M/p1613608140033000), it is suggested custom alert entries should have the same ON/OFF toggle that the standard alerts have, in addition to the 'delete' button.

E.g. something like:
![image](https://user-images.githubusercontent.com

[2021-02-18 03:37] Rita-C commented on #49
Received email from alerts-test
![Screen Shot 2021-02-18 at 2 36 56 pm](https://user-images.githubusercontent.com/29115246/108301800-d7b83800-71f6-11eb-952e-bf897bcf5a0e.png)

[2021-02-23 09:14] #93 closed

[2021-02-23 09:14] #76 closed

[2021-02-23 09:14] #77 closed

[2021-02-23 09:14] #73 closed

[2021-02-23 09:14] #36 closed

[2021-02-23 09:14] #64 closed

[2021-02-23 09:14] #62 closed

[2021-02-23 09:15] #51 closed

[2021-02-23 09:15] #78 closed

[2021-02-23 09:15] #80 closed

[2021-02-23 09:15] #71 closed

[2021-02-23 09:15] #75 closed

[2021-02-23 09:15] #65 closed

[2021-02-23 09:15] #82 closed

[2021-02-23 09:15] #57 closed

[2021-03-29 00:26] alexhuang091 opened #98 "occurrence record count being -1"
This is because `totalRecords` in email is set to `Integer totalRecords = queryService.fireWhenNotZeroProperty(queryResult) ` which could be -1 in some cases

![截屏2021-03-29_上午11_22_27](https://user-images.githubusercontent.com/61677987/112773306-40f65b00-9081-11eb-8b34-0a15bd370d0a.jpg)

[2021-03-29 03:52] alexhuang091 opened #100 "issues in unsubscribe myAnnotation with token"
When user clicks the '**unsubscribe**' link in the notification email. `unsubscribe()` in `UnsubscribeController` will be called.

This function only deletes `notifications` and updates `user`. In case of my annotation alert, the related `query` and `queryresult`  also need to be deleted.

[2021-04-07 07:52] nickdos opened #102 "Quartz job page"
Please check the config settings for alerts wrt to the `uriFilterPattern` path settings and add this path to that, so it is not viewable by non-admin users.

![image](https://user-images.githubusercontent.com/532845/113830346-e0c29000-97c9-11eb-9426-9b5e755501fb.png)

[2021-04-07 07:53] nickdos commented on #102
Issue moved to [AtlasOfLivingAustralia/ala-infrastructure #813](https://github.com/AtlasOfLivingAustralia/ala-infrastructure/issues/813) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-07 07:53] #102 closed

[2021-04-07 22:45] nickdos commented on #49
code reviewed ✅

[2021-04-07 23:18] alexhuang091 opened #103 "generated alert incorrect when there are more than 10 records user have annotated"
we use `ws/occurrences/search?fq=assertion_user_id:' + userId + '&dir=desc'` to get all the records user have annotated and get assertions for each record.

by default above API has a pageSize of 10 so if there are more than 10 records, only 10 are returned. We can explicitly set a large pageSize for now to get all records.

[2021-04-08 00:09] alexhuang091 opened #106 "Update email template for my annotation alerts"
By default, there's a **`View a list of all the added/changed records`** link in the alert email.

![image001](https://user-images.githubusercontent.com/61677987/113949329-56723e80-9852-11eb-9788-af40b29345f2.jpg)

But for 'my annotation', there's no single link that can list all records that have changed annotations. That link in picture only list all records you have made an annotation with.

So

[2021-04-09 03:26] alexhuang091 opened #108 "addMyAnnotationAlert fails if user not found"
Current code upon receiving `addMyAnnotationAlert` API call, checks if user exists via the user id. If not, a 404 will be returned.

A better way in this case will be to create a user and then subscribe him/her to the alert.

[2021-04-12 03:17] alexhuang091 opened #110 "rename 'My Annotation' related APIs"
Currently we have `addMyAnnotationn` and `deleteMyAnnotation`. Add/Delete implies the implementation we do upon sub/unsub my annotation alerts so it's too concrete.

From the user's point of view, `subscribe/unsubscribe` will be better than `add/delete`.

See discussion in https://github.com/AtlasOfLivingAustralia/biocache-hubs/pull/435

[2021-04-13 03:02] alexhuang091 opened #111 "Should run a query once user subscribe to 'My Annotation'"
As we know `my annotation` alert is generated by comparing admin verification between 2 checks.

Think about this example.

1. user subscribes to my annotation (either via API call or turn it on myAlerts)
2. user makes an annotation
3. admin verifies this annotation (to unconfirmed or verified or fixed)
4. background check is run for first time. --- this is first time check (status is there's 1 ve

[2021-04-13 06:17] alexhuang091 opened #113 "Run a query when user who subscribed to 'my annotation' changes his/her frequency"
In https://github.com/AtlasOfLivingAustralia/alerts/issues/111 we show that when user subscribes to 'my annotation' we need to run a query to generate the initial query result.

We need to do similar thing when user changes his/her frequence.

Because query result is frequency specific.

<img width="289" alt="截屏2021-04-13 下午4 11 30" src="https://user-images.githubusercontent.com/61677987/114504898

[2021-04-16 04:04] #49 closed

[2021-04-20 00:59] matthewandrews commented on #42
This change was released on 23 Feb 2021.

[2021-04-20 00:59] #42 closed

[2021-04-20 01:12] matthewandrews opened #117 "blog email template: add logic for retrieving thumbnail image"
There is no longer a direct URL to a featured image thumbnail in the JSON file parsed by the Blogs and News query (test example: https://www-test.ala.org.au/recentposts.json )

We now have, for each post, an element `_links` which contains an array `wp:featuredmedia`. We need the first item of `wp:featuredmedia`, which will have an element `href`.  This will be a URL of the form https://www-test.a

[2021-04-20 01:14] matthewandrews commented on #117
Right now the media JSON is not available; this requires a change to the ALA home publish process (see https://github.com/AtlasOfLivingAustralia/ala-infrastructure/issues/814 ).

[2021-04-22 01:20] #110 closed

[2021-04-22 01:21] #108 closed

[2021-04-22 01:21] #111 closed

[2021-04-22 01:21] #113 closed

[2021-04-22 01:21] #68 closed

[2021-04-22 01:21] #106 closed

[2021-04-22 01:21] #103 closed

[2021-04-22 01:21] #98 closed

[2021-04-22 01:21] #100 closed

[2021-04-22 01:21] #89 closed

[2021-05-03 01:56] matthewandrews commented on #117
Actually the process will be a bit different; the `media_details` / `sizes` element will probably become part of `recentposts.json`.

[2021-06-03 01:05] alexhuang091 opened #118 "time in query url is not formatted with UTC timezone"
This issue is found when testing alerts with pipeline biocache-service

Steps to reproduce:

1. create an user assertion at Australian local time 10:44 AM.
2. check https://biocache-test.ala.org.au/ws/occurrences/49d81401-21a6-42df-8fdf-7b5db9c90e38/assertions shows "created": "`2021-06-03T00:44:11Z`", which is correct UTC time. so far so good.
3. do an hourly check at alerts for new annotation, u

[2021-06-03 05:10] alexhuang091 opened #119 "wrong query url in createTaxonRegionQuery"
In Queryservice, we have

https://github.com/AtlasOfLivingAustralia/alerts/blob/2386bd89a5f177f13f43ffc7c1fd21b40c8eed30/grails-app/services/au/org/ala/alerts/QueryService.groovy#L219

It creates links like occurrences/taxon/urn:lsid:biodiversity.org.au:afd.taxon:17c9fd64-3c07-4df5-a33d-eda1e065e99f?`state:Victoria `which is incorrect.

The correct form should be like
https://github.com/AtlasOfLiv

[2021-07-10 01:03] alexhuang091 commented on #118
Nick has a 'new record` alert on prod never triggered since 1st Jun. It https://alerts.ala.org.au/query/show/1066 could be related to this.

On 8th Jun some data were loaded but there was no alert email.

The daily check runs at 8:30 AEST, so without timezone, the start time in fq will be 2021-06-07T08:30:00Z, so the whole fq [2021-06-07T08:30:00Z TO *] effectively is [2021-06-07T08:30:00Z TO 2021

[2021-08-23 22:19] nickdos commented on #117
@alexhuang091 this should be fairly quick to fix... if you're doing work on Alerts

[2021-09-13 05:40] nickdos opened #122 "Biosecurity email template"
This is part of #58.

[header graphic]
Subject line: New record in ALA for “species name”
Dear Email Alert Subscriber
A new record(s) has been added to the ALA relevant to your notification alert list.
- A (clickable) link to the original query/list that the alert is based on
- A clickable link to the query for all records in the alert (at the moment, the current link to all the records contained

[2021-10-10 22:09] alexhuang091 commented on #42
@nickdos has this been applied to all email templates or only blog alert? If not should I update all other templates accordingly?

[2021-10-10 23:35] nickdos commented on #42
Just apply to biosecurity template for now. We do want to update all the templates but want to get this one done and deployed as a priority.

[2021-10-26 04:17] alexhuang091 opened #126 "fix unsubscribe logic"
Currently when user unsubscribes and there's an account logged in, we require them to be of the same account.

Actually as long as the unsubscribe UUID is correct, we should always allow the user to unsubscribe, not matter which account is logged in or if there's an account logged in.

[2021-11-03 21:07] nickdos opened #131 "Add `height` attribute to header `img` in template"
I think a `height` attribute is required for this `img` tag:
[code]
The biosecurity template appears in my email client like this when images have not been allowed to load yet (common for people to leave that option on to prevent [tracking pixels](https://en.wikipedia.org/wiki/Web_beacon)):

![image](https://user-images.githubusercontent.com/532845/140192637-28746424-5372-46fd-8b78-1258816a5a66.pn

[2021-11-04 04:36] nickdos opened #133 "BS template: include list name at top of email with link to list"
The email template currently shows:

This should be changed to be:

Note that there are 2 links - one to biocache records and the other to the source list page.

The list title can be retrieved via the WS call: https://lists.ala.org.au/ws/speciesList/dr16496

[2021-11-04 04:46] nickdos opened #134 "BS template: include user annotations (biosecurity type) in record details"
If possible, include a row for each record that shows one or more user annotations of type "biosecurity". This might be harder to implement, as it will require a second set of lookups against the assertions service for each record (in batches?).

E.g. something like:

| . | . |
|-----|-----|
| Scientific name | Varanus rosenbergi |
| Date of observation | 2012-11 |
| Biosecurity annotation | Was o

[2021-11-04 23:25] alexhuang091 commented on #134
Hi Nick, is there any `biosecurity` type of issue?

<img width="587" alt="截屏2021-11-05 上午10 24 53" src="https://user-images.githubusercontent.com/61677987/140433826-a131b00d-a066-49da-8029-9c9ff55a4620.png">

[2021-11-05 00:04] nickdos commented on #134
I thought there was (told there was I thought). Maybe its the "other" category - I'll check and get back with an answer.

[2021-11-05 00:44] nickdos commented on #134
Looks like we need to add that option, so I'll create an issue for it in biocache-service or hubs.

[2021-11-05 00:45] alexhuang091 commented on #134
I'll do it.

[2021-11-05 00:53] nickdos commented on #134
Thanks - just reference this issue for the commit/PR.

I think it just needs an entry in  https://github.com/AtlasOfLivingAustralia/biocache-service/blob/develop/src/main/java/au/org/ala/biocache/dto/AssertionCodes.java

[2021-11-12 00:14] nickdos opened #140 "BS template: minor changes"
- [x] Update banner image to use version attached to this issue and adjust the  sizing so the image is shown full-size (one to one pixel ratio)
- [x] Sub header be:  New invasive species record**s** – add (s) -  just to be clear that there might be one but often there will be a list of many?
- [x] For the text header: Email alert from **the** Atlas of Living Australia (ALA)
- [x] In the footer: "T

[2021-11-13 01:54] nickdos commented on #140
![image](https://user-images.githubusercontent.com/532845/141601434-9465c617-00b6-4d59-96ce-1f8190bbe45e.png)

![image](https://user-images.githubusercontent.com/532845/141601452-35505ae3-c17e-408a-a21b-cc282d012b2f.png)

[2021-11-14 04:18] nickdos opened #141 "BS template: add static map to record entries"
This feature was postponed from MVP implementation, due to requiring a billable API key in order to generate static map `img` elements in the email template.

The original email template mockup showed the map appearing next to the thumbnail photo image.

![image](https://user-images.githubusercontent.com/532845/141667302-71d179b0-942c-4ce7-a11a-fcb5425e73f8.png)

Suggest that Google maps API is us

[2021-11-14 22:51] nickdos opened #143 "Add developer debug mode for working on email temapltes"
In order to force emails to be sent, a dev needs to hack in an extra few lines of code so that emails send data every time the "daily" job is manually triggered.

- [ ] add a config var that allows this

[2021-11-15 00:57] nickdos opened #145 "Upgrade to Grails 4"
As per other apps that have been upgraded recently, check for dependent plugins, etc.

[2021-11-19 05:14] alexhuang091 opened #146 "locale issue"
In alerts there are lots places use code like this

https://github.com/AtlasOfLivingAustralia/alerts/blob/233c84a26900a22fe8d2da51f2a86e1001ac01ed/grails-app/services/au/org/ala/alerts/UserService.groovy#L146-L148

It uses sitelocal to get i18n code, but acutally it should use the client locale.

One solution is to use the `LocaleContextHolder.getLocale()` which reads client locale.

[2021-12-16 04:35] Rita-C commented on #81
Tested on `https://alerts-test.ala.org.au/`
Unsubscribe the same alert on the second time displays an error message:
![Screen Shot 2021-12-16 at 3 33 07 pm](https://user-images.githubusercontent.com/29115246/146308839-e9231e56-01be-4964-82a7-86cd9cd2c21c.png)

[2021-12-16 05:04] Rita-C commented on #126
Tested on `alerts-test.ala.org.au`

Steps:
_Use species lists alert as the test case_
1. login as user A, make sure species list alert in on
2. logout, and login as user B
3. Find a species list alert email for user A, click "unsubscribe" link from the email
4. Unsubscribe page displayed (even if logged in as user B)

[2021-12-20 23:56] Rita-C commented on #140
Received an alert email from test, checked it against the four tasks,
3. the text is "Email alert from the Atlas of Living Australia" - **the** added, however, it does not have **(ALA)**

[2021-12-21 00:28] Rita-C commented on #122
Email looks good.

[2021-12-21 00:30] Rita-C commented on #126
Not sure the meaning of "Actually as long as the unsubscribe UUID is correct, we should always allow the user to unsubscribe, not matter which account is logged in or if there's an account logged in." @nickdos any ideas?

[2021-12-21 00:33] nickdos commented on #126
@Rita-C that refers to the fact that it previously required the user to login before completing the unsubscribe process. This goes against anti-spam laws, as it is a barrier to unsubscribing (people often forget login details or can't access the old email address any longer).

So now, the unsubscribe action should go through without requiring the user to login.

[2021-12-21 01:16] Rita-C commented on #126
Thanks @nickdos
Tested that the use does not require login to unsubscribe.

[2022-01-12 03:27] nickdos commented on #140
OK thanks @Rita-C , I'll fix that.

[2022-02-28 05:44] nickdos opened #148 "Fix i18n code in email text"
On alerts-test.ala.org.au, it is sending "New datasets" emails with `{1}` in the body text. which should be substituted for i18n args.

![image](https://user-images.githubusercontent.com/532845/155930335-79ffc5db-a2fe-4d27-ad76-41d30dd67118.png)

I'm not sure what is supposed to be inserted inside the braces, `ALA` possibly(?). I'm guessing it is reading a config var for `org_short_name` or simila

[2022-02-28 06:06] nickdos commented on #148
Check all files in https://github.com/AtlasOfLivingAustralia/alerts/tree/develop/grails-app/views/email that they have:

[code]

[2022-02-28 23:37] Rita-C commented on #148
likely caused by code change in https://github.com/AtlasOfLivingAustralia/alerts/issues/140

[2022-03-01 00:37] Rita-C commented on #148
deployed to test

[2022-03-02 03:57] nickdos commented on #148
Code reviewed ✅

[2022-03-08 02:52] Rita-C commented on #148
Emails received, email title displayed correctly.

[2022-03-08 02:54] Rita-C opened #149 "New occurrence datasets email title contains placeholder text"
Title should not contain {0}, see screenshot:
========

![Screen Shot 2022-03-08 at 1 50 56 pm](https://user-images.githubusercontent.com/29115246/157157040-9bc53dbe-bc94-482c-9f66-e67a9f2012c2.png)

[2022-03-08 05:56] Rita-C commented on #149
@nickdos , can you code review please?

[2022-03-08 07:33] nickdos commented on #149
Code LGTM ✅

[2022-03-16 03:07] nickdos opened #150 "BS: Add code to restrict `occurrence_date` to be 1 year from current date"
Biosecurity Alerts

A new requirement came through where DAWE only wants to see relatively new records. There is already a filter query for date_last_loaded but this will not prevent a new data resources coming into the ALA and triggering alerts for records from 2+ years ago.

The fix is to include a second `fq` param to restrict records with an occurrence_date from 1 year ago to current date. E.g

[2022-03-16 03:40] nickdos commented on #60
Already fixed in prod

[2022-03-16 03:40] #60 closed

[2022-03-16 03:41] #41 closed

[2022-04-05 01:00] #140 closed

[2022-04-05 01:00] #149 closed

[2022-04-05 01:00] #148 closed

[2022-04-05 01:00] #126 closed, assigned to nobody

[2022-04-05 01:00] #81 closed

[2022-04-05 01:00] #143 closed

[2022-04-05 23:27] yasima-csiro opened #153 "Grails4 and OIDC integration"
This task has following items:

- Grails 4 migration
- Dev CAS - ClientId and Client secret key for OpenConnect integration - https://auth-dev.ala.org.au/cas-management/management/registry/oauth
- Migration of current auth plugin version - 3.2.3 replace by ala-ws-security-plugin-5.0.0-SNAPSHOT
- Add OpenID connect authentication and JWT support
- Create OpenAPI definitions for the APIs
- Upload th

[2022-04-05 23:30] yasima-csiro commented on #153
Branch - https://github.com/AtlasOfLivingAustralia/alerts/tree/feature_oidcIntegration

https://github.com/AtlasOfLivingAustralia/alerts/commit/4c34d2c97cfb2f8d9cd3b771fc8601281947696e
https://github.com/AtlasOfLivingAustralia/alerts/commit/2ff430aaea7c4554dbf4339a0f2c072bc6609c58

[2022-04-28 03:46] yasima-csiro commented on #153
Ready to hand over to the team.

[2022-05-16 06:09] nickdos opened #155 "Admin function - changing alert frequency for another user fails"
Using the admin function to edit another users' settings - via https://alerts.ala.org.au/admin/user - allows an admin user to edit the alerts setting for that user.

When I tried to change the frequency from "daily" to "weekly" for a number of different users, it always failed with a message:

`There was a problem updating your alert frequency. Please try again later.`

Investigate why this is not

[2022-05-16 06:13] nickdos commented on #118
I can confirm I've not received email alerts for biosecurity alerts when my setting is `daily` that have gone through to Erin who had `weekly` set. This is a critical bug that needs fixing ASAP.

CC @sat01a

[2022-05-17 04:43] Rita-C commented on #118
2:42pm New lists https://lists-test.ala.org.au/speciesListItem/list/dr18506, alerts-test daily notification on lists.

[2022-05-17 04:53] nickdos commented on #118
Not sure what you meant there @Rita-C - you did get emails for that list?

[2022-05-17 05:43] Rita-C commented on #118
Hi @nickdos , that's a note to myself to check tomorrow.

[2022-05-17 06:07] Rita-C commented on #118
@nickdos , code already updated on 12/7/2021 by Alex, and is in prod
https://github.com/AtlasOfLivingAustralia/alerts/blob/master/grails-app/services/au/org/ala/alerts/NotificationService.groovy#L150

[2022-05-17 06:33] nickdos commented on #118
I don't think it is working 100%. Erin and I have the same biosecurity alerts set in prod but I had `daily` and she had `weekly` set. I never got any emails and she got an email at end of week with 7 records in it. This was last week at: Monday, 16 May 2022 10:31 AM.

[2022-05-17 06:39] Rita-C commented on #118
Yes, I also received biosecurity alerts from prod as I have `weekly`. However, given the code change required by **this** ticket is already in prod, could I suggest we open a new issue to address biosecurity alerts weekly not working?

[2022-05-19 00:28] Rita-C opened #156 "Not receiving biosecurity alerts when setting is daily, weekly works"
Issue reported by @nickdos - https://github.com/AtlasOfLivingAustralia/alerts/issues/118#issuecomment-1127260135

_I can confirm I've not received email alerts for biosecurity alerts when my setting is daily that have gone through to Erin who had weekly set._

[2022-05-19 00:30] Rita-C commented on #118
#156 raised to investigate biosecurity alerts.

[2022-05-19 00:30] #118 closed

[2022-05-19 00:36] Rita-C commented on #156
18 May
[code]

[2022-05-19 00:42] Rita-C commented on #156
19 May
Daily on prod, received lists, datasets, blogs, new records, annotations emails.
`new records` has similar query structure.

[code]

Compare the daily queries executed, esp the dates, query for biosecurity alerts **should** trigger an email
[code]
[code]

[2022-05-20 00:14] Rita-C commented on #156
20 MAy
[code]

[code]

[2022-05-20 01:47] Rita-C opened #157 "admin/find users page displays incorrect information (OIDC integration version only)"
![Screen Shot 2022-05-20 at 11 46 59 am](https://user-images.githubusercontent.com/29115246/169432210-c63357d3-94a9-42d9-991a-9ccc8021d51b.png)

![Screen Shot 2022-05-20 at 11 41 43 am](https://user-images.githubusercontent.com/29115246/169432115-549bc444-5c78-4e28-89e4-e24225fa49d5.png)

[2022-05-20 06:35] Rita-C opened #158 "Update query failed (OIDC integration version only)"
Update a query failed
![Screen Shot 2022-05-20 at 4 34 35 pm](https://user-images.githubusercontent.com/29115246/169467644-0640c467-f509-4987-baa9-80e04071367b.png)

[2022-05-23 00:15] Rita-C commented on #156
9:25am 23 May

Daily job did not run since 19 May:
[code]

[code]
[code]

[2022-05-23 01:09] Rita-C commented on #156
11:00am 23 May
[code]
However, I received  lists, dataset, annotations and new occurrence datasets emails.

Ping @djtfmartin for suggestions.

[2022-05-24 02:42] yasima-csiro commented on #157
Related to https://github.com/AtlasOfLivingAustralia/ala-auth-plugin/issues/23

[2022-05-24 04:23] Rita-C commented on #156
24 Mat 2:30pm
[code]

[2022-05-31 00:31] Rita-C commented on #153
OIDC integration test notes:
"APIs which are protected with RequireAPIKey cannot access publicly." - ` https://alerts-test.ala.org.au/api/alerts/user/xxxx` grails error without apikey, should be 403

"Using legacy API key (When FallbackToLegacyBehaviour is true)/Protected Apis can be successfully invoked with legacy API key" - failed

[2022-05-31 02:08] matthewandrews opened #160 "blog emails incorrectly sending daily and weekly"
Blog emails are being sent out each day (and each week) even though there is no new blog post.

ALA Blog emails (id 48) are incorrectly being sent for daily and weekly queues (not hourly).

Example: currently the production JSON for recent posts has the latest post on 27 April (last Fri); it's now Tuesday and the same alert was sent in each daily queue.

Looking at the debug for this alert in admi

[2022-06-01 22:10] #158 closed

[2022-06-10 00:37] timhicks-ala commented on #160
Reported in https://support.ehelp.edu.au/a/tickets/149545 - will keep an eye out for others

[2022-06-13 23:12] matthewandrews commented on #160
Another support ticket on this: https://support.ehelp.edu.au/a/tickets/149674

[2022-06-15 00:42] Rita-C commented on #156
Received daily bio-security alerts, ticket closed.
https://atlaslivingaustralia.slack.com/archives/CLH4EM73M/p1653460914637919

[2022-06-15 00:42] #156 closed

[2022-06-28 23:40] sughics commented on #160
Note: The issue described above is not limited to "Blog and News" alerts. Its seems to occur for all alert whose queries do not support filtering by date i.e.
 - Blog and News
 - Datasets
 - Species lists
 - Spatial layers
 -  New occurrence datasets

[2022-06-29 01:51] sughics opened #161 "Alert spam and realted issues"
Below are the finding and issues identified as a part of investigation into a large number of emails being generated by the application for certain subscription frequencies i.e. daily.

### Issue 1
The [**Bootstrap.Groovy** ](https://github.com/AtlasOfLivingAustralia/alerts/blob/master/grails-app/init/au/org/ala/alerts/BootStrap.groovy)file pre-loads queries and related data into the database for

[2022-06-29 06:42] sat01a commented on #161
@adam-collins is assisting @sughics on issue 2 and 3

[2022-06-29 07:19] sughics commented on #161
Issues 1, 2, 4, 6 have been addressed in the relevant branch [issue-161 ](https://github.com/AtlasOfLivingAustralia/alerts/tree/issue-161).

Pending findings from investigations into issue 3.

[2022-06-30 06:08] sughics commented on #161
Issues 7 has been addressed.

[2022-07-04 03:16] peggynewman commented on #161
@sughics and @adam-collins -2 things that might be related to Issue #3 -
1. I keep getting alerts for "New occurrence datasets" for empty biocollect data resources with no data in them, thus a bit misleading
2. @patkyn and I have been looking at the collectory data resource dates 'last checked' and 'data currency' (I think) - are they used by alerts at all?

[2022-07-04 03:30] sughics commented on #161
@peggynewman .

1.  "New occurrence datasets" is one of the [alerts](https://github.com/AtlasOfLivingAustralia/alerts/issues/160#issuecomment-1169389886) affected by issue 3  mentioned above. I'm subscribed to daily frequency for it receive the following email  every morning.

![Screen Shot 2022-07-04 at 1 28 09 pm](https://user-images.githubusercontent.com/105408469/177076491-4783325e-728f-473f-9

[2022-07-04 03:54] peggynewman commented on #161
@sughics for (1) these are full of duplicates and empty datasets, and it looks quite bad I think. Should I raise an issue for that on this repo?

[2022-07-04 05:00] sughics commented on #161
Re the duplicates and empty datasets -  The apparent duplicates in the email above are coming from the collectry itself.  In the email above, all the apparent duplicate records have unique `uid`.  The  data resource `uid` on  [resources](https://collections.ala.org.au/ws/dataResource?resourceType=records) returned by collectory is used to generate the diff for alert email.

Are these records techn

[2022-07-04 06:19] sughics opened #163 "Alerts Database update issue"
Split from Issue #161

Upon closer inspection of the production database (and the admin UI for the application), the saved result of queries for certain alerts (Blogs, Species lists, datasets, Spatial layers and New occurrence datasets )for daily frequencies show that they have not been checked or updated recently. Last update was at end the of May 2022 . These are the alerts which have been detec

[2022-07-04 06:20] sughics commented on #161
@adam-collins . Please find https://github.com/AtlasOfLivingAustralia/alerts/issues/163  for database issues

[2022-07-04 06:42] peggynewman commented on #161
Hi Sushant, you're right these are technically valid in Collectory, and I see now that the resources query is `https://collections.ala.org.au/ws/dataResource?resourceType=records` which is a default setting when a new data resource is created. I might try and get that default setting switched off in the Collectory.

[2022-07-06 00:16] #150 closed

[2022-07-11 01:45] sughics commented on #163
This issue has been addressed by @adam-collins on 8th July 2022.

**Daily**

For daily alerts, as expected, Alerts were sent out email with diff against the last saved values (end of May) on the first scheduled check (9th July 2022) since the fixes to the production database as described above.  Any alerts emails  for the days following were only sent out for new changes. The last checked date for

[2022-07-15 02:19] sughics commented on #160
Closing this as the issues are mentioned and addressed in #161

[2022-07-15 02:19] #160 closed

[2022-07-15 03:01] sughics commented on #145
This has been implemented in  #153

[2022-07-15 03:01] #145 closed

[2022-07-28 08:22] sughics opened #165 "Unable to unsubscribe from Alert using the unsubscribe link."
Current Alert in alerts-test i.e. 2.0.0-SNAPSHOT fails to successfully unsubscribe a user from an alert if the "Unsubscribe" link from an alert email is followed.  The following error is shown:
![Screen Shot 2022-07-28 at 6 17 20 pm](https://user-images.githubusercontent.com/105408469/181457456-546395f7-83f9-4f3c-aaca-06c332a5fe85.png)

[2022-07-29 01:48] sughics commented on #165
Issue was caused due to the missing `@Transactional` annotation in the `WebServiceController`. This issue was also identified in `NotificationController` and `AdminController` and preventing functionalities such as Alert deletion.

[2022-07-29 04:23] sughics commented on #165
RESOLVED: Deployed to alerts-test.

[2022-08-10 07:57] #163 closed

[2022-08-10 07:57] sughics commented on #153
Changes now in prod 2.0.1

[2022-08-10 07:57] #153 closed

[2022-08-10 07:57] sughics commented on #161
Changes now in prod 2.0.1

[2022-08-10 07:57] #161 closed

[2022-08-10 07:57] sughics commented on #165
Changes now in prod 2.0.1

[2022-08-10 07:57] #165 closed

[2022-08-11 03:16] sughics opened #169 "Alerting sending sending empty blog email after 2.0.1 release"
- So far only noted on daily updates since it is the only schedule run since release.

[2022-08-16 07:40] sughics opened #171 "Cleanup the Admin UI"
Clean up the Admin UI
 - Add descriptions to operations.
 - Seperate and Group similar operations

[2022-08-19 07:13] sughics commented on #171
Currently conducting functional testing - https://confluence.csiro.au/display/ALASD/Alerts+testing

[2022-08-19 07:14] sughics commented on #169
Currently conducting functional testing - https://confluence.csiro.au/display/ALASD/Alerts+testing

[2022-08-22 05:55] sbearcsiro opened #174 "Alerts requests a client credentials access token for each user in the database twice per day"
@joe-lipson did a deep dive on some auth server issues and found that the alerts server was requesting a new client credentials access token for each user in the database twice per day, causing excess load on the auth server: https://confluence.csiro.au/display/~lip042/Mongo+CPU+spikes

There are a few options for mitigation here:
1. Move the user update job outside peak / work day hours (it's cur

[2022-08-29 07:36] sughics commented on #171
Release with 2.0.3

[2022-08-29 07:36] #171 closed

[2022-08-29 07:36] sughics commented on #174
Release with 2.0.3

[2022-08-29 07:36] #174 closed

[2022-08-29 07:36] sughics commented on #169
Released with 2.0.3

[2022-08-29 07:36] #169 closed